[submodule "vim"]
	path = vim
	url = git@github.com:christophersu/vim-config.git
[submodule "sublime"]
	path = sublime
	url = git@github.com:christophersu/sublime.git
[submodule "mac/iterm"]
	path = mac/iterm
	url = git@github.com:christophersu/iterm.git
