'exception-reporting':
  'userId': 'd853a3da-188f-b9cc-8126-9e72278779d2'
'release-notes':
  'viewedVersion': '0.89.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'efbde6caf96d6ca55647886046a6d85dd9d3b6e1'
'editor':
  'fontSize': 15
  'showIndentGuide': true
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'projectHome': '/Users/christophersu/Code'
  'disabledPackages': [
    'editor-stats'
  ]
